<section class="section">
  <div class="section__container">
      <h1 class="section__title">Материалы</h1>
      <ul class="materials">
          <li class="material">
              <figure class="material__img-container">
                  <img src="./img/material-1.png" alt="C" class="material__img img"
                      width="384" height="170">
                  <figcaption class="material__title">C</figcaption>
              </figure>
              <div class="material__content">
                  <p class="material__subtitle">Преимущества:</p>
                  <ul class="material__list">
                      <li class="material__item">внешний вид</li>
                      <li class="material__item">цена</li>
                      <li class="material__item">вес</li>
                      <li class="material__item">воздухообмен</li>
                  </ul>
              </div>
          </li>
          <li class="material">
              <figure class="material__img-container">
                  <img src="./img/material-2.png" alt="ЛИСТВЕННИЦА (Б. АЕ)"
                      class="material__img img" width="384" height="170">
                  <figcaption class="material__title">ЛИСТВЕННИЦА (Б. АЕ)</figcaption>
              </figure>
              <div class="material__content">
                  <p class="material__subtitle">Преимущества:</p>
                  <ul class="material__list">
                      <li class="material__item">срок службы</li>
                      <li class="material__item">влагостойкость</li>
                      <li class="material__item">геометрия и форма</li>
                      <li class="material__item">фактура</li>
                  </ul>
              </div>
          </li>
          <li class="material">
              <figure class="material__img-container">
                  <img src="./img/material-3.png" alt="ДУБ (Б, АЕ)" class="material__img img"
                      width="384" height="170">
                  <figcaption class="material__title">ДУБ (Б, АЕ)</figcaption>
              </figure>
              <div class="material__content">
                  <p class="material__subtitle">Преимущества:</p>
                  <ul class="material__list">
                      <li class="material__item">прочность</li>
                      <li class="material__item">вид</li>
                      <li class="material__item">материал</li>
                      <li class="material__item">устойчив к перепадам температур</li>
                  </ul>
              </div>
          </li>
      </ul>
  </div>
</section>