<section class="section">
  <div class="section__container">
    <h1 class="section__title">Материалы</h1>
    <ul class="materials">
      <li class="material">
        <figure class="material__img-container">
          <img src="./img/material-1.png" alt="" class="material__img img" width="384" height="170">
          <figcaption class="material__title">C</figcaption>
        </figure>
        <div class="material__content">
          <p class="material__subtitle">Преимущества:</p>
          <ul class="material__list">
            <li class="material__item">внешний вид</li>
            <li class="material__item">цена</li>
            <li class="material__item">вес</li>
            <li class="material__item">воздухообмен</li>
          </ul>
        </div>
      </li>
      <li class="material">
        <figure class="material__img-container">
          <img src="./img/material-1.png" alt="" class="material__img img" width="384" height="170">
          <figcaption class="material__title">ЛИСТВЕННИЦА (Б. АЕ)</figcaption>
        </figure>
        <div class="material__content">
          <p class="material__subtitle">Преимущества:</p>
          <ul class="material__list">
            <li class="material__item">внешний вид</li>
            <li class="material__item">цена</li>
            <li class="material__item">вес</li>
            <li class="material__item">воздухообмен</li>
          </ul>
        </div>
      </li>
      <li class="material">
        <figure class="material__img-container">
          <img src="./img/material-1.png" alt="" class="material__img img" width="384" height="170">
          <figcaption class="material__title">C</figcaption>
        </figure>
        <div class="material__content">
          <p class="material__subtitle">Преимущества:</p>
          <ul class="material__list">
            <li class="material__item">внешний вид</li>
            <li class="material__item">цена</li>
            <li class="material__item">вес</li>
            <li class="material__item">воздухообмен</li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>