<section class="section bg">
  <div class="section__container">
    <h1 class="section__title">Виды окон</h1>
      <ul class="types">
        <li class="type">
          <p class="type__title">По профилю</p>
          <ul class="type__list">
            <li class="subtype">
              <a href="#" class="link subtype__link">
                <figure class="subtype__img-container">
                  <img src="./img/subtype-1.png" alt="" class="subtype__img" width="80" height="80">
                  <figcaption class="subtype__text">ПВХ</figcaption>
                </figure>
              </a>
            </li>
            <li class="subtype">
              <a href="#" class="link subtype__link">
                <figure class="subtype__img-container">
                  <img src="./img/subtype-1.png" alt="" class="subtype__img" width="80" height="80">
                  <figcaption class="subtype__text">Алюминивые</figcaption>
                </figure>
              </a>
            </li>
            <li class="subtype">
              <a href="#" class="link subtype__link">
                <figure class="subtype__img-container">
                  <img src="./img/subtype-1.png" alt="" class="subtype__img" width="80" height="80">
                  <figcaption class="subtype__text">Деревянные</figcaption>
                </figure>
              </a>
            </li>
            <li class="subtype">
              <a href="#" class="link subtype__link">
                <figure class="subtype__img-container">
                  <img src="./img/subtype-1.png" alt="" class="subtype__img" width="80" height="80">
                  <figcaption class="subtype__text">Металлопластиковые</figcaption>
                </figure>
              </a>
            </li>
            <li class="subtype">
              <a href="#" class="link subtype__link">
                <figure class="subtype__img-container">
                  <img src="./img/subtype-1.png" alt="" class="subtype__img" width="80" height="80">
                  <figcaption class="subtype__text">Ламинированные</figcaption>
                </figure>
              </a>
            </li>
          </ul>
        </li>


        <li class="type">
          <p class="type__title">По профилю</p>
          <ul class="type__list">
            <li class="subtype">
              <a href="#" class="link subtype__link">
                <figure class="subtype__img-container">
                  <img src="./img/subtype-1.png" alt="" class="subtype__img" width="80" height="80">
                  <figcaption class="subtype__text">ПВХ</figcaption>
                </figure>
              </a>
            </li>
            <li class="subtype">
              <a href="#" class="link subtype__link">
                <figure class="subtype__img-container">
                  <img src="./img/subtype-1.png" alt="" class="subtype__img" width="80" height="80">
                  <figcaption class="subtype__text">Алюминивые</figcaption>
                </figure>
              </a>
            </li>
            <li class="subtype">
              <a href="#" class="link subtype__link">
                <figure class="subtype__img-container">
                  <img src="./img/subtype-1.png" alt="" class="subtype__img" width="80" height="80">
                  <figcaption class="subtype__text">Деревянные</figcaption>
                </figure>
              </a>
            </li>
            <li class="subtype">
              <a href="#" class="link subtype__link">
                <figure class="subtype__img-container">
                  <img src="./img/subtype-1.png" alt="" class="subtype__img" width="80" height="80">
                  <figcaption class="subtype__text">Металлопластиковые</figcaption>
                </figure>
              </a>
            </li>
            <li class="subtype">
              <a href="#" class="link subtype__link">
                <figure class="subtype__img-container">
                  <img src="./img/subtype-1.png" alt="" class="subtype__img" width="80" height="80">
                  <figcaption class="subtype__text">Ламинированные</figcaption>
                </figure>
              </a>
            </li>
          </ul>
        </li>
        <li class="type">
          <p class="type__title">По профилю</p>
          <ul class="type__list">
            <li class="subtype">
              <a href="#" class="link subtype__link">
                <figure class="subtype__img-container">
                  <img src="./img/subtype-1.png" alt="" class="subtype__img" width="80" height="80">
                  <figcaption class="subtype__text">ПВХ</figcaption>
                </figure>
              </a>
            </li>
            <li class="subtype">
              <a href="#" class="link subtype__link">
                <figure class="subtype__img-container">
                  <img src="./img/subtype-1.png" alt="" class="subtype__img" width="80" height="80">
                  <figcaption class="subtype__text">Алюминивые</figcaption>
                </figure>
              </a>
            </li>
            <li class="subtype">
              <a href="#" class="link subtype__link">
                <figure class="subtype__img-container">
                  <img src="./img/subtype-1.png" alt="" class="subtype__img" width="80" height="80">
                  <figcaption class="subtype__text">Деревянные</figcaption>
                </figure>
              </a>
            </li>
            <li class="subtype">
              <a href="#" class="link subtype__link">
                <figure class="subtype__img-container">
                  <img src="./img/subtype-1.png" alt="" class="subtype__img" width="80" height="80">
                  <figcaption class="subtype__text">Металлопластиковые</figcaption>
                </figure>
              </a>
            </li>
            <li class="subtype">
              <a href="#" class="link subtype__link">
                <figure class="subtype__img-container">
                  <img src="./img/subtype-1.png" alt="" class="subtype__img" width="80" height="80">
                  <figcaption class="subtype__text">Ламинированные</figcaption>
                </figure>
              </a>
            </li>
          </ul>
        </li>
        <li class="type">
          <p class="type__title">По профилю</p>
          <ul class="type__list">
            <li class="subtype">
              <a href="#" class="link subtype__link">
                <figure class="subtype__img-container">
                  <img src="./img/subtype-1.png" alt="" class="subtype__img" width="80" height="80">
                  <figcaption class="subtype__text">ПВХ</figcaption>
                </figure>
              </a>
            </li>
            <li class="subtype">
              <a href="#" class="link subtype__link">
                <figure class="subtype__img-container">
                  <img src="./img/subtype-1.png" alt="" class="subtype__img" width="80" height="80">
                  <figcaption class="subtype__text">Алюминивые</figcaption>
                </figure>
              </a>
            </li>
            <li class="subtype">
              <a href="#" class="link subtype__link">
                <figure class="subtype__img-container">
                  <img src="./img/subtype-1.png" alt="" class="subtype__img" width="80" height="80">
                  <figcaption class="subtype__text">Деревянные</figcaption>
                </figure>
              </a>
            </li>
            <li class="subtype">
              <a href="#" class="link subtype__link">
                <figure class="subtype__img-container">
                  <img src="./img/subtype-1.png" alt="" class="subtype__img" width="80" height="80">
                  <figcaption class="subtype__text">Металлопластиковые</figcaption>
                </figure>
              </a>
            </li>
            <li class="subtype">
              <a href="#" class="link subtype__link">
                <figure class="subtype__img-container">
                  <img src="./img/subtype-1.png" alt="" class="subtype__img" width="80" height="80">
                  <figcaption class="subtype__text">Ламинированные</figcaption>
                </figure>
              </a>
            </li>
          </ul>
        </li>
        <li class="type">
          <p class="type__title">По профилю</p>
          <ul class="type__list">
            <li class="subtype">
              <a href="#" class="link subtype__link">
                <figure class="subtype__img-container">
                  <img src="./img/subtype-1.png" alt="" class="subtype__img" width="80" height="80">
                  <figcaption class="subtype__text">ПВХ</figcaption>
                </figure>
              </a>
            </li>
            <li class="subtype">
              <a href="#" class="link subtype__link">
                <figure class="subtype__img-container">
                  <img src="./img/subtype-1.png" alt="" class="subtype__img" width="80" height="80">
                  <figcaption class="subtype__text">Алюминивые</figcaption>
                </figure>
              </a>
            </li>
            <li class="subtype">
              <a href="#" class="link subtype__link">
                <figure class="subtype__img-container">
                  <img src="./img/subtype-1.png" alt="" class="subtype__img" width="80" height="80">
                  <figcaption class="subtype__text">Деревянные</figcaption>
                </figure>
              </a>
            </li>
            <li class="subtype">
              <a href="#" class="link subtype__link">
                <figure class="subtype__img-container">
                  <img src="./img/subtype-1.png" alt="" class="subtype__img" width="80" height="80">
                  <figcaption class="subtype__text">Металлопластиковые</figcaption>
                </figure>
              </a>
            </li>
            <li class="subtype">
              <a href="#" class="link subtype__link">
                <figure class="subtype__img-container">
                  <img src="./img/subtype-1.png" alt="" class="subtype__img" width="80" height="80">
                  <figcaption class="subtype__text">Ламинированные</figcaption>
                </figure>
              </a>
            </li>
          </ul>
        </li>
        <li class="type">
          <p class="type__title">По профилю</p>
          <ul class="type__list">
            <li class="subtype">
              <a href="#" class="link subtype__link">
                <figure class="subtype__img-container">
                  <img src="./img/subtype-1.png" alt="" class="subtype__img" width="80" height="80">
                  <figcaption class="subtype__text">ПВХ</figcaption>
                </figure>
              </a>
            </li>
            <li class="subtype">
              <a href="#" class="link subtype__link">
                <figure class="subtype__img-container">
                  <img src="./img/subtype-1.png" alt="" class="subtype__img" width="80" height="80">
                  <figcaption class="subtype__text">Алюминивые</figcaption>
                </figure>
              </a>
            </li>
            <li class="subtype">
              <a href="#" class="link subtype__link">
                <figure class="subtype__img-container">
                  <img src="./img/subtype-1.png" alt="" class="subtype__img" width="80" height="80">
                  <figcaption class="subtype__text">Деревянные</figcaption>
                </figure>
              </a>
            </li>
            <li class="subtype">
              <a href="#" class="link subtype__link">
                <figure class="subtype__img-container">
                  <img src="./img/subtype-1.png" alt="" class="subtype__img" width="80" height="80">
                  <figcaption class="subtype__text">Металлопластиковые</figcaption>
                </figure>
              </a>
            </li>
            <li class="subtype">
              <a href="#" class="link subtype__link">
                <figure class="subtype__img-container">
                  <img src="./img/subtype-1.png" alt="" class="subtype__img" width="80" height="80">
                  <figcaption class="subtype__text">Ламинированные</figcaption>
                </figure>
              </a>
            </li>
          </ul>
        </li>
      </ul>
  </div>
</section>