<section class="section bg">
  <div class="section__container">
    <ul class="woods">
      <li class="wood">
        <figure class="wood__img-container">
          <img src="./img/wood.png" alt="" class="wood__img img" width="230" height="300">
          <figcaption class="wood__title">Деревянные окна</figcaption>
        </figure>
        <div class="wood__content">
          <p class="wood__text">Учитывая ключевые сценарии поведения, начало повседневной работы по формированию позиции говорит о возможностях дальнейших направлений развития. Предварительные выводы неутешительны: высококачественный прототип будущего проекта не даёт нам.</p>
          <p class="wood__text">
            <span class="bold wood__subtitle">Комплектация стандартного окна:</span>
            С учётом сложившейся международной обстановки, реализация намеченных плановых заданий однозначно фиксирует необходимость экспериментов, поражающих по своей масштабности и грандиозности. Мы вынуждены отталкиваться от того, что глубокий уровень погружения представляет собой интересный эксперимент проверки своевременного выполнения сверхзадачи.
          </p>
        </div>
        <a href="#" class="link wood__link">Оформить заказ</a>
      </li>
      <li class="wood">
        <figure class="wood__img-container">
          <img src="./img/wood.png" alt="" class="wood__img img" width="230" height="300">
          <figcaption class="wood__title">Деревянные окна</figcaption>
        </figure>
        <div class="wood__content">
          <p class="wood__text">Учитывая ключевые сценарии поведения, начало повседневной работы по формированию позиции говорит о возможностях дальнейших направлений развития. Предварительные выводы неутешительны: высококачественный прототип будущего проекта не даёт нам.</p>
          <p class="wood__text">
            <span class="bold wood__subtitle">Комплектация стандартного окна:</span>
            С учётом сложившейся международной обстановки, реализация намеченных плановых заданий однозначно фиксирует необходимость экспериментов, поражающих по своей масштабности и грандиозности. Мы вынуждены отталкиваться от того, что глубокий уровень погружения представляет собой интересный эксперимент проверки своевременного выполнения сверхзадачи.
          </p>
          <p class="wood__text">
            <span class="bold wood__subtitle">Комплектация стандартного окна:</span>
            С учётом сложившейся международной обстановки, реализация намеченных плановых заданий однозначно фиксирует необходимость экспериментов, поражающих по своей масштабности и грандиозности. Мы вынуждены отталкиваться от того, что глубокий уровень погружения представляет собой интересный эксперимент проверки своевременного выполнения сверхзадачи.
          </p>
        </div>
        <a href="#" class="link wood__link">Оформить заказ</a>
      </li>
    </ul>
  </div>
</section>