.page__404-btn {
  padding: 1rem 1.25rem;
  margin-top: 10px;
  max-width: 300px;
  font-size: 1rem;
  color: #ffffff;
  background-color: transparent;
  border: none;
  border-radius: 8px;
}

.page__404-link {
  color: inherit;
}
